chardet==3.0.4
cli-helpers==1.2.1
Click==7.0
configobj==5.0.6
et-xmlfile==1.0.1
humanize==0.5.1
jdcal==1.4.1
numpy==1.17.2
openpyxl==3.0.0
pandas==0.25.1
pgcli==2.1.1
pgspecial==1.11.7
prompt-toolkit==2.0.9
psycopg2==2.8.3
Pygments==2.4.2
python-dateutil==2.8.0
pytz==2019.3
setproctitle==1.1.10
six==1.12.0
sqlparse==0.3.0
sridentify==0.8.0
tabulate==0.8.5
terminaltables==3.1.0
wcwidth==0.1.7
